.home {
  background-color: #b90e7a;
  height: 100%;
  width: 100%;
}

.titlebar {
  background-color: #171717;
  height: 40px;
  width: 100%;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}
